body {
    font-family: Inter, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, #D9D9D9, #ACBFB9);
    max-height: 100vh;
    overflow: auto;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.logo-container img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
}
h2, h3, h4 {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}



form {
    margin-bottom: 20px;
}

label {
    align-items: center;
    padding-bottom: 8px;


}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 90%;
    margin-top: 4px;
    
}

button {
    padding: 10px 20px;
    background-color: #85938E;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #333;

}

a {
    color: #73807B;
    text-decoration: none;

}

.terms-container {
    display: flex;
    align-items: center;
    margin: 2px;
    height: 30px;
}

.terms-container input[type="checkbox"] {
    margin-right: 10px;
    max-width: 10%;
    align-items: center;
    width: 20px;
    height: 20px; 
}

.botao {
    justify-content: center;
    display: flex;
    margin-top: 120px;

}

.center-itens {
    padding-top: 44px;
    justify-content: center;
    text-align: center;
    
}

.center-line {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70%;
    color: #ffffff;

}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: #73807B;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    max-width: 80%;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 1024px) {

    input, textarea {
        width: 90%;
        padding: 8px;
        margin-bottom: 5px;
        border: 1px;
        border-radius: 4px;
        max-width: 90%;
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
    }

    .box-desk {
        max-width:40%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

    }

    .center-line {
        justify-content: center;
        color: #ffffff;
    }

    .container{
        justify-content: center;
        align-items: center;
        display:grid;
    }




}

